
body{
    background-color: skyblue;
    padding:100px;
    
}

p.oblique {
    font-style: oblique;
}
p{
    font-size:20px; 
}
#triangle{
    width: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid orangered;
}
#isotriangle{
    width: 0;
    border-left: 200px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 200px solid #000;

}
#sclntriangle{
    width: 0;
    border-left: 200px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 50px solid lime;

}
h1{
    color:whitesmoke;
    
}
h2{
    font-family:italic;
    
    
} 

#Form{
    padding: 5px;
    box-shadow: 5px 5px 5px black;
    background-color:grey;
    opacity: 0,01;
    border-radius:50%;
    text-align:center;
}

    

