
body{
    background-color: skyblue;
}

p.oblique {
    font-style: oblique;
}
p{
    font-size:20px; 
}
#triangle{
    width: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid skyblue;
}
#isotriangle{
    width: 0;
    border-left: 200px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 200px solid #000;

}
#sclntriangle{
    width: 0;
    border-left: 200px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 50px solid lime;

}